{% extends 'mainapp/base.html' %}
{% load static %}
    {% block js %}
    {% endblock %}

{% block container %}
	<!--start-breadcrumbs-->
	{% include 'mainapp/includes/inc__breadcrumbs.html' %}
	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>CHECKOUT</h2>
			</div>
			<div class="ckeckout-top">
                <div class="cart-items">
                     <h3>My Shopping Bag</h3>
                    <div class="in-check" >
                        <ul class="unit">
                            <li><span>Item</span></li>
                            <li><span>Product Name</span></li>
                            <li><span>Unit Price</span></li>
                            <li><span>Delivery Details</span></li>
                            <li> </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="cart-header">
                            {% if basket_items %}
                                {% include 'basketapp/inc__basket_items.html' %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
		 </div>
		</div>
	</div>
    <div class="basket_summary">
        В корзине {{ user.basket_total_quantity }} товаров общей стоимостью
        {{ user.basket_cost }} USD
    </div>
	<!--end-ckeckout-->
{% endblock %}