{% extends 'mainapp/base.html' %}
{% load static %}
{% block container %}

<!--bottom-header-->
	<!--start-breadcrumbs-->
	{% include 'mainapp/includes/inc__breadcrumbs.html' %}
	<!--end-breadcrumbs-->
{% block title %}
    <div class="logo clearfix">
        <h2>Продукты в категории {{ category.name|capfirst }}</h2>
    </div>
{% endblock %}

	<!--prdt-starts-->
{% include 'mainapp/includes/inc__random_products_catalog.html' %}
	<!--product-end-->
	<!--information-starts-->

{% endblock %}